In [12]:

# =============================================================================
# CONSUMPTION 19 MALAWI VILLAGE
# =============================================================================
import numpy as np
import pandas as pd
import os 
os.chdir('C:/Users/rodri/Dropbox/Chied_Field_June_19/Data/Consumption')
percentiles = [0.05, 0.1, .25, .5, .75, 0.8, 0.9, 0.95, 0.99]
euro_MWK = 806.64

# =============================================================================
# Import data: Data from the field and conversion rates (ISA-LSMS price conversions)
# =============================================================================

data = pd.read_stata("[2] Consumption+Non-Food Consumption_(9-16)_050819.dta", convert_categoricals=False)

##### Create conversion kg matrix(unitxitems) with the exact same names and units labels as in the data:


#item labels data
list_items = ['maizemgaiwa', 'maizerefined', 'maizemadeya', 'maizegrain', 'greenmaize', 'rice', 'cassavatubers', 'wsweetpotatoes', 'osweetpotatoes'
, 'ipotatoes', 'potatocrisps', 'bbean', 'pigeonpea', 'groundnut', 'groundnutf', 'onion', 'cabbage', 'tanaposi', 'leafyvegetables', 'tomato', 'eggs', 
'driedfish', 'fleshfish', 'goat', 'chicken', 'otherpoultry', 'smockedfish', 'mango', 'banana', 'guava', 
'wildfruits',  'sugar', 'sugarcane', 'cookingoil', 'softdrinks',
'thobwa', 'locallybrewed', 'salt']

# As it stands today (7/16/19) no one consumed otherpoultry, mango. That means no variables with such label. Need to drop:
list_items.remove('otherpoultry')

list_items.remove('mango')



'''
# NOW I ALREADY CREATED IT THE CONVERSION FILE SO NO NEED TO RUN IT AGAIN ===============
data_conversion = pd.read_excel('conversionkgrates_consumption_malawi_short.xls')

data_conversion = pd.read_stata('ConversionFactorsphysical.dta')
data_conversion = data_conversion.loc[data_conversion.region=='South',['hh_g02', 'hh_g03b','ihps_plus']]

items_conv = data_conversion.item_label.unique()
# Item labels conversion file
list_items_conv = ['Maize Mgaiwa', 'Maize refined', 'Maize Madeya', 'Maize grain',
       'Greenmaize', 'Rice', 'Cassava tubers',
       'White sweet potatoes', 'Orange sweet potatoes', 'Irish Potatoe',
       'Potatoe Chips', 'Bean, brown', 'Pigeon peas (ndolo)', 'Groundnut',
       'Groundnut flour', 'Onion', 'Cabbage', 'Tanaposi/Rape',
       'Other cultivated green leafy vegetables', 'Tomatoe', 'Eggs',
       'Dried Fish', 'Fresh Fish', 'Goat', 'Chicken',
       'Other poultry-guinea fowl, doves, etc', 'Smoked Fish', 'Mango',
       'Banana', 'Guava', 'Wild fruit (Masau, Malambe, etc)', 'Sugar',
       'Sugar Cane', 'Cooking oil',
       'Soft drinks(coca-cola, fanta, sprite etc)', 'Thobwa',
       'Locally brewed liquor(kachasu)', 'Salt']




conversionkg = data_conversion[['unit','item_label','conversion_kgs_country']]


# Reshape as: rows:units, columns:crops
conversionkg = conversionkg.replace(list_items_conv, list_items)
conversionkg_pivot = conversionkg.pivot_table(values='conversion_kgs_country',
                                index='unit',
                                columns='item_label')
conversionkg_pivot.loc[99,:] = np.nan
conversionkg_pivot.loc[100,:] = np.nan
conversionkg_pivot.to_csv('conversionkg_isaprices_matrix.csv')
'''

conversionkg_pivot = pd.read_csv('conversionkg_isaprices_matrix_2.csv',  index_col=0)
# =============================================================================
# Generate empty variables
# =============================================================================

#Obtain the names of the variables per each question of item. Question c is monetary question so not conversion to kgs needed
a_var = []
b_var = []
c_var = []
d_var = []

#Generate variable lables in a list
for item in list_items :
    a = item+'_a'
    b= item+'_b'
    c = item+'_c'  ## expenditure 
    d = item+'_d'
   
    a_var.append(a)
    b_var.append(b)
    c_var.append(c)
    d_var.append(d)
    
list_questions = ['a','b','d']

 
# convert all empty observations to 0. I do that to convert empty units to 99. If not, main conversion loop doesn't work.
# Note that empty doesn't necessary mean 0, so we careful at looking the data       
data = data.stack().apply(pd.to_numeric, errors='ignore').fillna(0).unstack()

In [13]:

# Drop nan observations. Also drop unit 25 (number not in our choices). Also drop 24(whole chicken). Drop empty cells observations
print('UNITS SELECTED PER ITEM')

for var in list_items:
    for i in range(1,4):   #Loop over unit questions.
        data[[var+'_unit'+str(i)]] = data[[var+'_unit'+str(i)]].replace(np.nan, 99)
        data[[var+'_unit'+str(i)]] = data[[var+'_unit'+str(i)]].replace(25, 99)
        data[[var+'_unit'+str(i)]] = data[[var+'_unit'+str(i)]].replace(24, 99)
        data[[var+'_unit'+str(i)]] = data[[var+'_unit'+str(i)]].replace(0, 99)
        print('Reported Units of '+var)
        print(pd.value_counts(data[var+'_unit1']))

UNITS SELECTED PER ITEM
Reported Units of maizemgaiwa
99       68
1        66
17       33
15       21
4        19
7        18
5        11
6         7
21        4
16        2
13        2
other     1
Name: maizemgaiwa_unit1, dtype: int64
Reported Units of maizemgaiwa
99       68
1        66
17       33
15       21
4        19
7        18
5        11
6         7
21        4
16        2
13        2
other     1
Name: maizemgaiwa_unit1, dtype: int64
Reported Units of maizemgaiwa
99       68
1        66
17       33
15       21
4        19
7        18
5        11
6         7
21        4
16        2
13        2
other     1
Name: maizemgaiwa_unit1, dtype: int64
Reported Units of maizerefined
99    88
1     58
7     25
4     23
17    16
15    16
6      8
5      8
13     4
21     3
16     2
2      1
Name: maizerefined_unit1, dtype: int64
Reported Units of maizerefined
99    88
1     58
7     25
4     23
17    16
15    16
6      8
5      8
13     4
21     3
16     2
2      1
Name: maizerefined_unit1, dtype: int64
Reported Units of maizerefined
99    88
1     58
7     25
4     23
17    16
15    16
6      8
5      8
13     4
21     3
16     2
2      1
Name: maizerefined_unit1, dtype: int64
Reported Units of maizemadeya
99    143
7      49
6      25
1      17
4       6
17      4
16      4
21      2
15      1
5       1
Name: maizemadeya_unit1, dtype: int64
Reported Units of maizemadeya
99    143
7      49
6      25
1      17
4       6
17      4
16      4
21      2
15      1
5       1
Name: maizemadeya_unit1, dtype: int64
Reported Units of maizemadeya
99    143
7      49
6      25
1      17
4       6
17      4
16      4
21      2
15      1
5       1
Name: maizemadeya_unit1, dtype: int64
Reported Units of maizegrain
99       141
16        45
6         27
7         26
1          4
9          3
other      2
4          2
17         1
15         1
Name: maizegrain_unit1, dtype: int64
Reported Units of maizegrain
99       141
16        45
6         27
7         26
1          4
9          3
other      2
4          2
17         1
15         1
Name: maizegrain_unit1, dtype: int64
Reported Units of maizegrain
99       141
16        45
6         27
7         26
1          4
9          3
other      2
4          2
17         1
15         1
Name: maizegrain_unit1, dtype: int64
Reported Units of greenmaize
99    225
9      26
10      1
Name: greenmaize_unit1, dtype: int64
Reported Units of greenmaize
99    225
9      26
10      1
Name: greenmaize_unit1, dtype: int64
Reported Units of greenmaize
99    225
9      26
10      1
Name: greenmaize_unit1, dtype: int64
Reported Units of rice
99    142
16     45
1      37
6      17
7       9
15      1
4       1
Name: rice_unit1, dtype: int64
Reported Units of rice
99    142
16     45
1      37
6      17
7       9
15      1
4       1
Name: rice_unit1, dtype: int64
Reported Units of rice
99    142
16     45
1      37
6      17
7       9
15      1
4       1
Name: rice_unit1, dtype: int64
Reported Units of cassavatubers
9     150
99     94
10      4
8       1
7       1
6       1
1       1
Name: cassavatubers_unit1, dtype: int64
Reported Units of cassavatubers
9     150
99     94
10      4
8       1
7       1
6       1
1       1
Name: cassavatubers_unit1, dtype: int64
Reported Units of cassavatubers
9     150
99     94
10      4
8       1
7       1
6       1
1       1
Name: cassavatubers_unit1, dtype: int64
Reported Units of wsweetpotatoes
10       146
99        76
9          7
4          7
7          5
21         4
17         3
other      1
15         1
6          1
5          1
Name: wsweetpotatoes_unit1, dtype: int64
Reported Units of wsweetpotatoes
10       146
99        76
9          7
4          7
7          5
21         4
17         3
other      1
15         1
6          1
5          1
Name: wsweetpotatoes_unit1, dtype: int64
Reported Units of wsweetpotatoes
10       146
99        76
9          7
4          7
7          5
21         4
17         3
other      1
15         1
6          1
5          1
Name: wsweetpotatoes_unit1, dtype: int64
Reported Units of osweetpotatoes
99       137
10        95
9          6
21         5
7          5
4          2
15         1
other      1
Name: osweetpotatoes_unit1, dtype: int64
Reported Units of osweetpotatoes
99       137
10        95
9          6
21         5
7          5
4          2
15         1
other      1
Name: osweetpotatoes_unit1, dtype: int64
Reported Units of osweetpotatoes
99       137
10        95
9          6
21         5
7          5
4          2
15         1
other      1
Name: osweetpotatoes_unit1, dtype: int64
Reported Units of ipotatoes
99    240
10     12
Name: ipotatoes_unit1, dtype: int64
Reported Units of ipotatoes
99    240
10     12
Name: ipotatoes_unit1, dtype: int64
Reported Units of ipotatoes
99    240
10     12
Name: ipotatoes_unit1, dtype: int64
Reported Units of potatocrisps
99       242
6          4
10         3
7          1
other      1
1          1
Name: potatocrisps_unit1, dtype: int64
Reported Units of potatocrisps
99       242
6          4
10         3
7          1
other      1
1          1
Name: potatocrisps_unit1, dtype: int64
Reported Units of potatocrisps
99       242
6          4
10         3
7          1
other      1
1          1
Name: potatocrisps_unit1, dtype: int64
Reported Units of bbean
99       179
16        25
6         22
7         11
1          9
10         3
4          2
other      1
Name: bbean_unit1, dtype: int64
Reported Units of bbean
99       179
16        25
6         22
7         11
1          9
10         3
4          2
other      1
Name: bbean_unit1, dtype: int64
Reported Units of bbean
99       179
16        25
6         22
7         11
1          9
10         3
4          2
other      1
Name: bbean_unit1, dtype: int64
Reported Units of pigeonpea
16    83
7     46
99    40
1     37
6     35
4      5
10     3
21     2
17     1
Name: pigeonpea_unit1, dtype: int64
Reported Units of pigeonpea
16    83
7     46
99    40
1     37
6     35
4      5
10     3
21     2
17     1
Name: pigeonpea_unit1, dtype: int64
Reported Units of pigeonpea
16    83
7     46
99    40
1     37
6     35
4      5
10     3
21     2
17     1
Name: pigeonpea_unit1, dtype: int64
Reported Units of groundnut
7        63
99       60
16       43
6        33
1        28
4        11
15        4
21        3
17        3
other     2
22        1
10        1
Name: groundnut_unit1, dtype: int64
Reported Units of groundnut
7        63
99       60
16       43
6        33
1        28
4        11
15        4
21        3
17        3
other     2
22        1
10        1
Name: groundnut_unit1, dtype: int64
Reported Units of groundnut
7        63
99       60
16       43
6        33
1        28
4        11
15        4
21        3
17        3
other     2
22        1
10        1
Name: groundnut_unit1, dtype: int64
Reported Units of groundnutf
16       89
6        66
99       51
7        29
1         9
22        5
other     2
20        1
Name: groundnutf_unit1, dtype: int64
Reported Units of groundnutf
16       89
6        66
99       51
7        29
1         9
22        5
other     2
20        1
Name: groundnutf_unit1, dtype: int64
Reported Units of groundnutf
16       89
6        66
99       51
7        29
1         9
22        5
other     2
20        1
Name: groundnutf_unit1, dtype: int64
Reported Units of onion
9        122
99       100
8         25
other      3
10         2
Name: onion_unit1, dtype: int64
Reported Units of onion
9        122
99       100
8         25
other      3
10         2
Name: onion_unit1, dtype: int64
Reported Units of onion
9        122
99       100
8         25
other      3
10         2
Name: onion_unit1, dtype: int64
Reported Units of cabbage
99       136
9         98
6          9
other      5
8          2
7          2
Name: cabbage_unit1, dtype: int64
Reported Units of cabbage
99       136
9         98
6          9
other      5
8          2
7          2
Name: cabbage_unit1, dtype: int64
Reported Units of cabbage
99       136
9         98
6          9
other      5
8          2
7          2
Name: cabbage_unit1, dtype: int64
Reported Units of tanaposi
8     213
99     36
9       1
7       1
6       1
Name: tanaposi_unit1, dtype: int64
Reported Units of tanaposi
8     213
99     36
9       1
7       1
6       1
Name: tanaposi_unit1, dtype: int64
Reported Units of tanaposi
8     213
99     36
9       1
7       1
6       1
Name: tanaposi_unit1, dtype: int64
Reported Units of leafyvegetables
99       95
8        94
7        19
21       15
6        10
10        8
other     5
4         4
11        1
9         1
Name: leafyvegetables_unit1, dtype: int64
Reported Units of leafyvegetables
99       95
8        94
7        19
21       15
6        10
10        8
other     5
4         4
11        1
9         1
Name: leafyvegetables_unit1, dtype: int64
Reported Units of leafyvegetables
99       95
8        94
7        19
21       15
6        10
10        8
other     5
4         4
11        1
9         1
Name: leafyvegetables_unit1, dtype: int64
Reported Units of tomato
10    176
7      26
9      20
4      12
21      5
6       5
99      4
17      1
8       1
5       1
1       1
Name: tomato_unit1, dtype: int64
Reported Units of tomato
10    176
7      26
9      20
4      12
21      5
6       5
99      4
17      1
8       1
5       1
1       1
Name: tomato_unit1, dtype: int64
Reported Units of tomato
10    176
7      26
9      20
4      12
21      5
6       5
99      4
17      1
8       1
5       1
1       1
Name: tomato_unit1, dtype: int64
Reported Units of eggs
99    178
9      74
Name: eggs_unit1, dtype: int64
Reported Units of eggs
99    178
9      74
Name: eggs_unit1, dtype: int64
Reported Units of eggs
99    178
9      74
Name: eggs_unit1, dtype: int64
Reported Units of driedfish
10    126
99    121
9       4
4       1
Name: driedfish_unit1, dtype: int64
Reported Units of driedfish
10    126
99    121
9       4
4       1
Name: driedfish_unit1, dtype: int64
Reported Units of driedfish
10    126
99    121
9       4
4       1
Name: driedfish_unit1, dtype: int64
Reported Units of fleshfish
99    152
10     81
6      13
9       4
8       1
1       1
Name: fleshfish_unit1, dtype: int64
Reported Units of fleshfish
99    152
10     81
6      13
9       4
8       1
1       1
Name: fleshfish_unit1, dtype: int64
Reported Units of fleshfish
99    152
10     81
6      13
9       4
8       1
1       1
Name: fleshfish_unit1, dtype: int64
Reported Units of goat
99    194
1      42
6      11
7       3
9       2
Name: goat_unit1, dtype: int64
Reported Units of goat
99    194
1      42
6      11
7       3
9       2
Name: goat_unit1, dtype: int64
Reported Units of goat
99    194
1      42
6      11
7       3
9       2
Name: goat_unit1, dtype: int64
Reported Units of chicken
99    233
9      12
6       5
7       2
Name: chicken_unit1, dtype: int64
Reported Units of chicken
99    233
9      12
6       5
7       2
Name: chicken_unit1, dtype: int64
Reported Units of chicken
99    233
9      12
6       5
7       2
Name: chicken_unit1, dtype: int64
Reported Units of smockedfish
10    174
99     73
9       2
8       1
7       1
6       1
Name: smockedfish_unit1, dtype: int64
Reported Units of smockedfish
10    174
99     73
9       2
8       1
7       1
6       1
Name: smockedfish_unit1, dtype: int64
Reported Units of smockedfish
10    174
99     73
9       2
8       1
7       1
6       1
Name: smockedfish_unit1, dtype: int64
Reported Units of banana
99    113
8      88
9      46
13      2
10      2
2       1
Name: banana_unit1, dtype: int64
Reported Units of banana
99    113
8      88
9      46
13      2
10      2
2       1
Name: banana_unit1, dtype: int64
Reported Units of banana
99    113
8      88
9      46
13      2
10      2
2       1
Name: banana_unit1, dtype: int64
Reported Units of guava
99    241
9      11
Name: guava_unit1, dtype: int64
Reported Units of guava
99    241
9      11
Name: guava_unit1, dtype: int64
Reported Units of guava
99    241
9      11
Name: guava_unit1, dtype: int64
Reported Units of wildfruits
99       78
6        55
7        54
16       42
other     7
21        6
9         6
19        1
18        1
4         1
1         1
Name: wildfruits_unit1, dtype: int64
Reported Units of wildfruits
99       78
6        55
7        54
16       42
other     7
21        6
9         6
19        1
18        1
4         1
1         1
Name: wildfruits_unit1, dtype: int64
Reported Units of wildfruits
99       78
6        55
7        54
16       42
other     7
21        6
9         6
19        1
18        1
4         1
1         1
Name: wildfruits_unit1, dtype: int64
Reported Units of sugar
99       124
22        61
1         56
other      5
16         4
18         1
10         1
Name: sugar_unit1, dtype: int64
Reported Units of sugar
99       124
22        61
1         56
other      5
16         4
18         1
10         1
Name: sugar_unit1, dtype: int64
Reported Units of sugar
99       124
22        61
1         56
other      5
16         4
18         1
10         1
Name: sugar_unit1, dtype: int64
Reported Units of sugarcane
9        128
99       122
10         1
other      1
Name: sugarcane_unit1, dtype: int64
Reported Units of sugarcane
9        128
99       122
10         1
other      1
Name: sugarcane_unit1, dtype: int64
Reported Units of sugarcane
9        128
99       122
10         1
other      1
Name: sugarcane_unit1, dtype: int64
Reported Units of cookingoil
22    113
15     92
99     29
19     17
1       1
Name: cookingoil_unit1, dtype: int64
Reported Units of cookingoil
22    113
15     92
99     29
19     17
1       1
Name: cookingoil_unit1, dtype: int64
Reported Units of cookingoil
22    113
15     92
99     29
19     17
1       1
Name: cookingoil_unit1, dtype: int64
Reported Units of softdrinks
99       223
19        13
15        10
other      2
23         1
22         1
17         1
16         1
Name: softdrinks_unit1, dtype: int64
Reported Units of softdrinks
99       223
19        13
15        10
other      2
23         1
22         1
17         1
16         1
Name: softdrinks_unit1, dtype: int64
Reported Units of softdrinks
99       223
19        13
15        10
other      2
23         1
22         1
17         1
16         1
Name: softdrinks_unit1, dtype: int64
Reported Units of thobwa
99    125
15     65
16     47
17      5
5       4
4       3
19      1
7       1
1       1
Name: thobwa_unit1, dtype: int64
Reported Units of thobwa
99    125
15     65
16     47
17      5
5       4
4       3
19      1
7       1
1       1
Name: thobwa_unit1, dtype: int64
Reported Units of thobwa
99    125
15     65
16     47
17      5
5       4
4       3
19      1
7       1
1       1
Name: thobwa_unit1, dtype: int64
Reported Units of locallybrewed
99       243
15         4
16         2
19         1
18         1
other      1
Name: locallybrewed_unit1, dtype: int64
Reported Units of locallybrewed
99       243
15         4
16         2
19         1
18         1
other      1
Name: locallybrewed_unit1, dtype: int64
Reported Units of locallybrewed
99       243
15         4
16         2
19         1
18         1
other      1
Name: locallybrewed_unit1, dtype: int64
Reported Units of salt
22       172
16        34
6         18
1         17
18         6
other      2
20         1
15         1
7          1
Name: salt_unit1, dtype: int64
Reported Units of salt
22       172
16        34
6         18
1         17
18         6
other      2
20         1
15         1
7          1
Name: salt_unit1, dtype: int64
Reported Units of salt
22       172
16        34
6         18
1         17
18         6
other      2
20         1
15         1
7          1
Name: salt_unit1, dtype: int64

In [14]:
#Find the households-questions that reported other units.
df_other_units = pd.DataFrame(columns=['householdid','question', 'other_unit']) 
for var in list_items:
    for i in range(1,4):   #Loop over unit questions.       
        # Find who said other units
        data[[var+'_unit'+str(i)]] = data[[var+'_unit'+str(i)]].replace('other', 100)
        other_units_guy = data.loc[data[var+'_unit'+str(i)]==100, ['householdid', var+'_unit'+str(i), var+'_unit'+str(i)+'_other']]            
        if other_units_guy.empty:
            continue
        else:
            d = {'householdid': other_units_guy.iloc[:,0], 'question': other_units_guy.columns[1], 'other_unit':other_units_guy.iloc[:,2]}   
            row = pd.DataFrame(data=d)
            df_other_units = df_other_units.append(row)
        
#df_other_units.to_csv('other_units_list.csv')
print('All households-item-question combinations that reported "other" units')         
print(df_other_units)

All households-item-question combinations that reported "other" units
    householdid              question other_unit
58           68     maizemgaiwa_unit1        5kg
58           68     maizemgaiwa_unit2        5kg
163         189      maizegrain_unit1    Handful
203         236      maizegrain_unit1    Handful
197         230  wsweetpotatoes_unit1       Pots
..          ...                   ...        ...
74           85   locallybrewed_unit2       25ml
16           21            salt_unit1     Packet
166         192            salt_unit1    Handful
16           21            salt_unit2     Packet
166         192            salt_unit2    Handful

[75 rows x 3 columns]

In [16]:
#%% =============================================================================
#   Convert to kgs:  
# =============================================================================

# Generate kg variables empty
for item in list_items:
    for q in list_questions:
        data[item+'_'+q+'kg']= np.nan

print('a: Total Consumption')
for var in a_var:
    for i in range(len(data)): 
        data.iloc[i,data.columns.get_loc(var+'kg')] = data.iloc[i,data.columns.get_loc(var)]*conversionkg_pivot.loc[int(data.iloc[i,  data.columns.get_loc(item+'_unit1')]), item]
    print(data[[var+'kg']].describe())

print('b: Bought')
for var in b_var:
    for i in range(len(data)): 
        data.iloc[i,data.columns.get_loc(var+'kg')] = data.iloc[i,data.columns.get_loc(var)]*conversionkg_pivot.loc[int(data.iloc[i,  data.columns.get_loc(item+'_unit2')]), item]

print('d: Own-produced')
for var in d_var:
    for i in range(len(data)): 
        data.iloc[i,data.columns.get_loc(var+'kg')] = data.iloc[i,data.columns.get_loc(var)]*conversionkg_pivot.loc[int(data.iloc[i,  data.columns.get_loc(item+'_unit3')]), item]

a: Total Consumption
       maizemgaiwa_akg
count       182.000000
mean          1.852498
std           3.094071
min           0.002000
25%           0.300000
50%           0.760000
75%           2.400000
max          20.000000
       maizerefined_akg
count        163.000000
mean           1.657018
std            2.343754
min            0.001000
25%            0.300000
50%            0.640000
75%            2.100000
max           20.000000
       maizemadeya_akg
count       106.000000
mean          0.609344
std           0.807401
min           0.002500
25%           0.300000
50%           0.300000
75%           0.600000
max           6.000000
       maizegrain_akg
count      109.000000
mean         0.600584
std          2.028976
min          0.001000
25%          0.300000
50%          0.300000
75%          0.300000
max         21.300000
       greenmaize_akg
count       27.000000
mean         1.681111
std          2.213585
min          0.010000
25%          0.450000
50%          0.800000
75%          1.800000
max         10.000000
         rice_akg
count  109.000000
mean     0.718325
std      0.891995
min      0.000500
25%      0.300000
50%      0.480000
75%      0.720000
max      5.000000
       cassavatubers_akg
count         156.000000
mean            0.954040
std             1.243462
min             0.001000
25%             0.300000
50%             0.600000
75%             0.960000
max             7.500000
       wsweetpotatoes_akg
count          173.000000
mean             7.770582
std             91.176157
min              0.001000
25%              0.300000
50%              0.600000
75%              0.900000
max           1200.000000
       osweetpotatoes_akg
count          114.000000
mean             0.628268
std              0.781885
min              0.001000
25%              0.300000
50%              0.300000
75%              0.600000
max              5.000000
       ipotatoes_akg
count      12.000000
mean        0.503333
std         0.240429
min         0.160000
25%         0.300000
50%         0.540000
75%         0.600000
max         0.900000
       potatocrisps_akg
count          9.000000
mean           0.300056
std            0.184831
min            0.000500
25%            0.240000
50%            0.300000
75%            0.300000
max            0.720000
       bbean_akg
count  72.000000
mean    0.539569
std     0.539052
min     0.001000
25%     0.300000
50%     0.375000
75%     0.600000
max     4.000000
       pigeonpea_akg
count     209.000000
mean        0.689748
std         0.781024
min         0.001000
25%         0.300000
50%         0.320000
75%         0.900000
max         5.000000
       groundnut_akg
count     189.000000
mean        0.628855
std         1.183138
min         0.001000
25%         0.300000
50%         0.300000
75%         0.600000
max        15.000000
       groundnutf_akg
count      198.000000
mean         0.363758
std          0.281511
min          0.000500
25%          0.240000
50%          0.300000
75%          0.300000
max          2.000000
        onion_akg
count  151.000000
mean     0.873462
std      0.852331
min      0.001000
25%      0.300000
50%      0.600000
75%      0.960000
max      5.000000
       cabbage_akg
count   115.000000
mean      0.453877
std       0.342188
min       0.001000
25%       0.300000
50%       0.300000
75%       0.600000
max       2.000000
       tanaposi_akg
count    213.000000
mean       1.274377
std        1.239664
min        0.001000
25%        0.600000
50%        0.900000
75%        1.500000
max        8.000000
       leafyvegetables_akg
count           155.000000
mean              0.845217
std               1.036893
min               0.001000
25%               0.300000
50%               0.600000
75%               1.000000
max               7.000000
       tomato_akg
count  245.000000
mean     2.745028
std     19.232403
min      0.000400
25%      0.300000
50%      1.200000
75%      2.100000
max    300.000000
        eggs_akg
count  72.000000
mean    1.630139
std     1.410341
min     0.002000
25%     0.900000
50%     1.200000
75%     1.800000
max    10.000000
       driedfish_akg
count     128.000000
mean        0.853253
std         0.962443
min         0.001000
25%         0.300000
50%         0.600000
75%         0.900000
max         6.000000
       fleshfish_akg
count      99.000000
mean        3.729586
std        27.061233
min         0.001000
25%         0.600000
50%         0.720000
75%         1.200000
max       270.000000
        goat_akg
count  57.000000
mean    0.405718
std     0.426762
min     0.001000
25%     0.150000
50%     0.300000
75%     0.300000
max     2.000000
       chicken_akg
count    64.000000
mean      0.480479
std       0.517741
min       0.001000
25%       0.240000
50%       0.300000
75%       0.600000
max       3.600000
       smockedfish_akg
count       176.000000
mean          0.783890
std           0.701329
min           0.001000
25%           0.315000
50%           0.600000
75%           0.900000
max           5.000000
       banana_akg
count  138.000000
mean     1.096668
std      1.270540
min      0.001000
25%      0.300000
50%      0.660000
75%      1.400000
max      7.200000
       guava_akg
count  11.000000
mean    1.572727
std     1.026734
min     0.300000
25%     0.750000
50%     1.500000
75%     1.900000
max     3.600000
       wildfruits_akg
count      172.000000
mean         0.518686
std          0.750565
min          0.000500
25%          0.300000
50%          0.300000
75%          0.480000
max          6.000000
        sugar_akg
count  127.000000
mean     1.776823
std     13.276048
min      0.000000
25%      0.240000
50%      0.300000
75%      0.600000
max    150.000000
       sugarcane_akg
count     128.000000
mean        0.829395
std         0.876727
min         0.001000
25%         0.300000
50%         0.600000
75%         0.900000
max         6.400000
       cookingoil_akg
count      221.000000
mean        10.330896
std         44.376618
min          0.000500
25%          0.150000
50%          0.600000
75%          1.500000
max        500.000000
       softdrinks_akg
count       28.000000
mean        50.210377
std        100.307426
min          0.000550
25%          0.285000
50%          0.540000
75%         78.750000
max        500.000000
       thobwa_akg
count  125.000000
mean     1.873327
std      6.843669
min      0.001000
25%      0.300000
50%      0.600000
75%      1.500000
max     75.000000
       locallybrewed_akg
count           9.000000
mean           28.863889
std            57.044499
min             0.075000
25%             0.300000
50%             0.600000
75%             2.000000
max           150.000000
         salt_akg
count  249.000000
mean     0.589444
std      0.453433
min      0.003000
25%      0.300000
50%      0.300000
75%      0.900000
max      3.000000
b: Bought
d: Own-produced

In [17]:
#%%

#Check 
print('To check if the conversion to kgs works correctly: check for example for beans')           
print(data[['bbean_a', 'bbean_unit1', 'bbean_akg','bbean_b', 'bbean_unit2',  'bbean_bkg', 'bbean_d', 'bbean_unit3', 'bbean_dkg']])


#check total consumption in kgs
data['total_foodkg'] = 0
data['purchased_kg'] = 0
data['ownproduced_kg'] = 0

for item in list_items:
    data['total_foodkg'] += data[item+'_akg'].replace(np.nan, 0)
    data['purchased_kg'] += data[item+'_bkg'].replace(np.nan, 0)
    data['ownproduced_kg'] += data[item+'_dkg'].replace(np.nan, 0)
    
    
sumtotalfoodkg = data[['total_foodkg', 'purchased_kg','ownproduced_kg']].describe()   

print('==== Summary Food Consumption last 7 days in kgs aggregated across items =======')
print('')
print(sumtotalfoodkg)

To check if the conversion to kgs works correctly: check for example for beans
    bbean_a  bbean_unit1  bbean_akg bbean_b  bbean_unit2  bbean_bkg bbean_d  \
0       NaN           99        NaN     NaN           99        NaN     NaN
1       NaN           99        NaN     NaN           99        NaN     NaN
2       NaN           99        NaN     NaN           99        NaN     NaN
3       NaN           99        NaN     NaN           99        NaN     NaN
4       NaN           99        NaN     NaN           99        NaN     NaN
..      ...          ...        ...     ...          ...        ...     ...
247     NaN           99        NaN     NaN           99        NaN     NaN
248       1           16       0.16       1           16       0.16       0
249     NaN           99        NaN     NaN           99        NaN     NaN
250     NaN           99        NaN     NaN           99        NaN     NaN
251     NaN           99        NaN     NaN           99        NaN     NaN

     bbean_unit3  bbean_dkg
0             99        NaN
1             99        NaN
2             99        NaN
3             99        NaN
4             99        NaN
..           ...        ...
247           99        NaN
248           99        NaN
249           99        NaN
250           99        NaN
251           99        NaN

[252 rows x 9 columns]
==== Summary Food Consumption last 7 days in kgs aggregated across items =======

       total_foodkg  purchased_kg  ownproduced_kg
count    252.000000    252.000000      252.000000
mean      38.787741     28.149763        0.020833
std      103.454564     67.418299        0.330719
min        0.000000      0.000000        0.000000
25%        8.055000      4.312500        0.000000
50%       14.265000      8.475000        0.000000
75%       22.875000     16.087500        0.000000
max     1274.500000    612.300000        5.250000

In [18]:
#%%  CONVERT TO MONETARY VALUE

# Generate price variables
for item in list_items:
        data[item+'_price']= np.nan

# price per household
for item in list_items:
    data[item+'_price'] = data[item+'_c'] / data[item+'_bkg'].replace(0,np.nan)

for item in list_items:
    print('Median Price 1 kg of '+item)
    data['med_price_'+item] = data[item+'_price'].median()
    print(data['med_price_'+item].mean())

## compute consumption in MWK
    
for item in list_items:
    for q in list_questions:
        data[item+'_'+q+'MWK']= np.nan

print('a: Total Consumption')
for item in list_items:
    print(item)
    data[item+'_aMWK'] = data[item+'_akg']*data['med_price_'+item]
    print('Food Consumption in MWK during last 7 days item: '+item)
    print(data[item+'_aMWK'].describe(percentiles=percentiles))
            
print('b: Bought')
for item in list_items:
    print(item)
    data[item+'_bMWK'] = data[item+'_bkg']*data['med_price_'+item]


print('d: Own-produced')
for item in list_items:
    print(item)
    data[item+'_dMWK'] = data[item+'_dkg']*data['med_price_'+item]

Median Price 1 kg of maizemgaiwa
1250.000031250004
Median Price 1 kg of maizerefined
2500.0000520833314
Median Price 1 kg of maizemadeya
833.3333333333358
Median Price 1 kg of maizegrain
603.3333246933347
Median Price 1 kg of greenmaize
208.3333376736117
Median Price 1 kg of rice
1000.0
Median Price 1 kg of cassavatubers
166.66666666666652
Median Price 1 kg of wsweetpotatoes
333.33333333333303
Median Price 1 kg of osweetpotatoes
416.6666753472234
Median Price 1 kg of ipotatoes
458.33333767361177
Median Price 1 kg of potatocrisps
1208.3333463541685
Median Price 1 kg of bbean
1111.1111111111175
Median Price 1 kg of pigeonpea
549.9999904000005
Median Price 1 kg of groundnut
666.6666666666661
Median Price 1 kg of groundnutf
458.33333767361177
Median Price 1 kg of onion
166.66666666666652
Median Price 1 kg of cabbage
666.6666666666661
Median Price 1 kg of tanaposi
166.66666666666652
Median Price 1 kg of leafyvegetables
166.66666666666652
Median Price 1 kg of tomato
166.66666666666652
Median Price 1 kg of eggs
366.6666666666674
Median Price 1 kg of driedfish
666.6666666666661
Median Price 1 kg of fleshfish
625.0000130208329
Median Price 1 kg of goat
5000.000104166663
Median Price 1 kg of chicken
6458.333398437523
Median Price 1 kg of smockedfish
666.6666666666661
Median Price 1 kg of banana
200.0
Median Price 1 kg of guava
33.33333333333323
Median Price 1 kg of wildfruits
333.33333333333303
Median Price 1 kg of sugar
841.6666666666641
Median Price 1 kg of sugarcane
166.66666666666652
Median Price 1 kg of cookingoil
333.33333333333303
Median Price 1 kg of softdrinks
833.3333333333358
Median Price 1 kg of thobwa
233.33333333333414
Median Price 1 kg of locallybrewed
1000.0
Median Price 1 kg of salt
208.3333376736117
a: Total Consumption
maizemgaiwa
Food Consumption in MWK during last 7 days item: maizemgaiwa
count      182.000000
mean      2315.622764
std       3867.588913
min          2.500000
5%         188.125004
10%        300.000001
25%        375.000009
50%        950.000002
75%       3000.000013
80%       3750.000094
90%       5625.000141
95%       7437.500186
99%      25000.000625
max      25000.000625
Name: maizemgaiwa_aMWK, dtype: float64
maizerefined
Food Consumption in MWK during last 7 days item: maizerefined
count      163.000000
mean      4142.544628
std       5859.385834
min          2.500000
5%         377.500007
10%        600.000000
25%        750.000016
50%       1599.999993
75%       5250.000109
80%       7500.000156
90%      11850.000047
95%      15000.000313
99%      19730.000411
max      50000.001042
Name: maizerefined_aMWK, dtype: float64
maizemadeya
Food Consumption in MWK during last 7 days item: maizemadeya
count     106.000000
mean      507.786949
std       672.834488
min         2.083333
5%        133.333330
10%       199.999996
25%       250.000000
50%       250.000000
75%       500.000000
80%       500.000000
90%      1000.000000
95%      1250.000000
99%      4045.833333
max      5000.000000
Name: maizemadeya_aMWK, dtype: float64
maizegrain
Food Consumption in MWK during last 7 days item: maizegrain
count      109.000000
mean       362.352400
std       1224.148640
min          0.603333
5%          90.499999
10%         96.533330
25%        180.999997
50%        180.999997
75%        180.999997
80%        361.999995
90%        550.239990
95%        723.999984
99%       1191.221315
max      12850.999816
Name: maizegrain_aMWK, dtype: float64
greenmaize
Food Consumption in MWK during last 7 days item: greenmaize
count      27.000000
mean      350.231488
std       461.163451
min         2.083333
5%         53.750000
10%        62.500001
25%        93.750002
50%       166.666666
75%       375.000004
80%       533.333344
90%       862.500018
95%      1156.250024
99%      1866.666706
max      2083.333377
Name: greenmaize_aMWK, dtype: float64
rice
Food Consumption in MWK during last 7 days item: rice
count     109.000000
mean      718.324811
std       891.994968
min         0.500000
5%        150.000000
10%       159.999996
25%       300.000000
50%       479.999990
75%       719.999985
80%       900.000000
90%      1200.000000
95%      2000.000000
99%      4960.000000
max      5000.000000
Name: rice_aMWK, dtype: float64
cassavatubers
Food Consumption in MWK during last 7 days item: cassavatubers
count     156.000000
mean      159.006664
std       207.243651
min         0.166667
5%         26.666666
10%        39.999999
25%        50.000000
50%       100.000000
75%       159.999997
80%       200.000000
90%       350.000000
95%       500.000000
99%      1112.500000
max      1250.000000
Name: cassavatubers_aMWK, dtype: float64
wsweetpotatoes
Food Consumption in MWK during last 7 days item: wsweetpotatoes
count       173.000000
mean       2590.193962
std       30392.052479
min           0.333333
5%           53.333332
10%          79.999998
25%         100.000000
50%         200.000000
75%         300.000000
80%         399.999997
90%         600.000000
95%         700.000000
99%        2133.333333
max      400000.000000
Name: wsweetpotatoes_aMWK, dtype: float64
osweetpotatoes
Food Consumption in MWK during last 7 days item: osweetpotatoes
count     114.000000
mean      261.778409
std       325.785449
min         0.416667
5%         66.666666
10%        78.611114
25%       125.000003
50%       125.000003
75%       250.000005
80%       375.000008
90%       500.000010
95%       668.750014
99%      2029.166709
max      2083.333377
Name: osweetpotatoes_aMWK, dtype: float64
ipotatoes
Food Consumption in MWK during last 7 days item: ipotatoes
count     12.000000
mean     230.694446
std      110.196585
min       73.333332
5%       108.625000
10%      137.500001
25%      137.500001
50%      247.500000
75%      275.000003
80%      275.000003
90%      398.750004
95%      412.500004
99%      412.500004
max      412.500004
Name: ipotatoes_aMWK, dtype: float64
potatocrisps
Food Consumption in MWK during last 7 days item: potatocrisps
count      9.000000
mean     362.567130
std      223.337552
min        0.604167
5%       116.362499
10%      232.120831
25%      289.999997
50%      362.500004
75%      362.500004
80%      362.500004
90%      464.000001
95%      666.999996
99%      829.399992
max      869.999991
Name: potatocrisps_aMWK, dtype: float64
bbean
Food Consumption in MWK during last 7 days item: bbean
count      72.000000
mean      599.521603
std       598.947051
min         1.111111
5%         86.388888
10%       177.777773
25%       333.333333
50%       416.666667
75%       666.666667
80%       702.222208
90%      1100.000000
95%      1333.333333
99%      2866.666667
max      4444.444444
Name: bbean_aMWK, dtype: float64
pigeonpea
Food Consumption in MWK during last 7 days item: pigeonpea
count     209.000000
mean      379.361145
std       429.563456
min         0.550000
5%         87.999996
10%       131.999995
25%       164.999997
50%       175.999993
75%       494.999991
80%       494.999991
90%       824.999986
95%      1099.999981
99%      2705.999953
max      2749.999952
Name: pigeonpea_aMWK, dtype: float64
groundnut
Food Consumption in MWK during last 7 days item: groundnut
count      189.000000
mean       419.236583
std        788.758382
min          0.666667
5%         102.666666
10%        106.666664
25%        200.000000
50%        200.000000
75%        400.000000
80%        600.000000
90%       1000.000000
95%       1000.000000
99%       2000.000000
max      10000.000000
Name: groundnut_aMWK, dtype: float64
groundnutf
Food Consumption in MWK during last 7 days item: groundnutf
count    198.000000
mean     166.722389
std      129.025902
min        0.229167
5%        52.249999
10%       73.333332
25%      109.999999
50%      137.500001
75%      137.500001
80%      137.500001
90%      275.000003
95%      458.333338
99%      660.824993
max      916.666675
Name: groundnutf_aMWK, dtype: float64
onion
Food Consumption in MWK during last 7 days item: onion
count    151.000000
mean     145.577052
std      142.055157
min        0.166667
5%        26.666666
10%       39.999999
25%       50.000000
50%      100.000000
75%      159.999996
80%      200.000000
90%      300.000000
95%      500.000000
99%      666.666667
max      833.333333
Name: onion_aMWK, dtype: float64
cabbage
Food Consumption in MWK during last 7 days item: cabbage
count     115.000000
mean      302.584954
std       228.125294
min         0.666667
5%        106.666664
10%       106.666664
25%       200.000000
50%       200.000000
75%       400.000000
80%       400.000000
90%       600.000000
95%       666.666667
99%      1258.666667
max      1333.333333
Name: cabbage_aMWK, dtype: float64
tanaposi
Food Consumption in MWK during last 7 days item: tanaposi
count     213.000000
mean      212.396229
std       206.610609
min         0.166667
5%         26.666666
10%        50.000000
25%       100.000000
50%       150.000000
75%       250.000000
80%       300.000000
90%       400.000000
95%       600.000000
99%      1000.000000
max      1333.333333
Name: tanaposi_aMWK, dtype: float64
leafyvegetables
Food Consumption in MWK during last 7 days item: leafyvegetables
count     155.000000
mean      140.869431
std       172.815447
min         0.166667
5%         26.666666
10%        31.999999
25%        50.000000
50%       100.000000
75%       166.666667
80%       200.000000
90%       250.000000
95%       333.333333
99%      1023.000000
max      1166.666667
Name: leafyvegetables_aMWK, dtype: float64
tomato
Food Consumption in MWK during last 7 days item: tomato
count      245.000000
mean       457.504742
std       3205.400432
min          0.066667
5%          26.666666
10%         50.000000
25%         50.000000
50%        199.999996
75%        350.000000
80%        350.000000
90%        500.000000
95%        590.000000
99%       1353.333333
max      50000.000000
Name: tomato_aMWK, dtype: float64
eggs
Food Consumption in MWK during last 7 days item: eggs
count      72.000000
mean      597.717591
std       517.125143
min         0.733333
5%        117.333330
10%       220.000000
25%       330.000000
50%       440.000000
75%       660.000000
80%       718.666667
90%      1100.000000
95%      1386.000000
99%      2365.000000
max      3666.666667
Name: eggs_aMWK, dtype: float64
driedfish
Food Consumption in MWK during last 7 days item: driedfish
count     128.000000
mean      568.835068
std       641.628495
min         0.666667
5%        106.666664
10%       159.999997
25%       200.000000
50%       400.000000
75%       600.000000
80%       746.666657
90%      1035.999993
95%      2000.000000
99%      3333.333333
max      4000.000000
Name: driedfish_aMWK, dtype: float64
fleshfish
Food Consumption in MWK during last 7 days item: fleshfish
count        99.000000
mean       2330.991209
std       16913.271059
min           0.625000
5%           95.000000
10%         187.500004
25%         375.000008
50%         450.000000
75%         750.000008
80%         937.500020
90%        1250.000026
95%        1672.500004
99%        9500.000198
max      168750.003516
Name: fleshfish_aMWK, dtype: float64
goat
Food Consumption in MWK during last 7 days item: goat
count       57.000000
mean      2028.588173
std       2133.807928
min          5.000000
5%         320.000003
10%        399.999998
25%        750.000016
50%       1500.000031
75%       1500.000031
80%       2850.000059
90%       5000.000104
95%       5440.000083
99%      10000.000208
max      10000.000208
Name: goat_aMWK, dtype: float64
chicken
Food Consumption in MWK during last 7 days item: chicken
count       64.000000
mean      3103.094642
std       3343.746100
min          6.458333
5%        1033.333318
10%       1046.250003
25%       1549.999983
50%       1937.500020
75%       3875.000039
80%       5114.999993
90%       6458.333398
95%       6458.333398
99%      15926.250161
max      23250.000234
Name: chicken_aMWK, dtype: float64
smockedfish
Food Consumption in MWK during last 7 days item: smockedfish
count     176.000000
mean      522.593613
std       467.552497
min         0.666667
5%        159.999997
10%       200.000000
25%       209.999996
50%       400.000000
75%       600.000000
80%       600.000000
90%       900.000000
95%      1333.333333
99%      2666.666667
max      3333.333333
Name: smockedfish_aMWK, dtype: float64
banana
Food Consumption in MWK during last 7 days item: banana
count     138.000000
mean      219.333678
std       254.107936
min         0.200000
5%         31.999999
10%        47.999999
25%        60.000000
50%       131.999999
75%       279.999994
80%       329.599993
90%       438.000000
95%       609.000000
99%      1348.200000
max      1440.000000
Name: banana_aMWK, dtype: float64
guava
Food Consumption in MWK during last 7 days item: guava
count     11.000000
mean      52.424242
std       34.224452
min       10.000000
5%        15.000000
10%       20.000000
25%       25.000000
50%       50.000000
75%       63.333333
80%       66.666667
90%      100.000000
95%      110.000000
99%      118.000000
max      120.000000
Name: guava_aMWK, dtype: float64
wildfruits
Food Consumption in MWK during last 7 days item: wildfruits
count     172.000000
mean      172.895487
std       250.188301
min         0.166667
5%         53.333332
10%        58.000001
25%       100.000000
50%       100.000000
75%       159.999997
80%       200.000000
90%       333.333333
95%       363.333330
99%      1666.666667
max      2000.000000
Name: wildfruits_aMWK, dtype: float64
sugar
Food Consumption in MWK during last 7 days item: sugar
count       127.000000
mean       1495.493025
std       11174.006881
min           0.000000
5%           67.333332
10%         126.250000
25%         201.999996
50%         252.500000
75%         505.000000
80%         757.500000
90%        1262.500000
95%        1683.333333
99%        4033.266667
max      126250.000000
Name: sugar_aMWK, dtype: float64
sugarcane
Food Consumption in MWK during last 7 days item: sugarcane
count     128.000000
mean      138.232514
std       146.121155
min         0.166667
5%         26.666666
10%        39.999999
25%        50.000000
50%       100.000000
75%       150.000000
80%       200.000000
90%       333.333333
95%       399.999997
99%       621.666667
max      1066.666640
Name: sugarcane_aMWK, dtype: float64
cookingoil
Food Consumption in MWK during last 7 days item: cookingoil
count       221.000000
mean       3443.631952
std       14792.205878
min           0.166667
5%           25.000000
10%          39.999999
25%          50.000000
50%         200.000000
75%         500.000000
80%         600.000000
90%         746.666648
95%       25000.000000
99%       50000.000000
max      166666.666667
Name: cookingoil_aMWK, dtype: float64
softdrinks
Food Consumption in MWK during last 7 days item: softdrinks
count        28.000000
mean      41841.980579
std       83589.521979
min           0.458333
5%          125.000000
10%         125.000000
25%         237.499999
50%         449.999996
75%       65625.000000
80%       75000.000000
90%       78750.000000
95%      128125.000000
99%      344666.666667
max      416666.666667
Name: softdrinks_aMWK, dtype: float64
thobwa
Food Consumption in MWK during last 7 days item: thobwa
count      125.000000
mean       437.109555
std       1596.856156
min          0.233333
5%          21.000000
10%         44.799999
25%         70.000000
50%        140.000000
75%        350.000000
80%        391.999993
90%        700.000000
95%       1353.333333
99%       2688.000000
max      17500.000000
Name: thobwa_aMWK, dtype: float64
locallybrewed
Food Consumption in MWK during last 7 days item: locallybrewed
count         9.000000
mean      28863.888889
std       57044.498956
min          75.000000
5%          165.000000
10%         255.000000
25%         300.000000
50%         600.000000
75%        2000.000000
80%       43200.000000
90%      114000.000000
95%      132000.000000
99%      146400.000000
max      150000.000000
Name: locallybrewed_aMWK, dtype: float64
salt
Food Consumption in MWK during last 7 days item: salt
count    249.000000
mean     122.800849
std       94.465193
min        0.625000
5%        33.333333
10%       50.000000
25%       62.500001
50%       62.500001
75%      187.500004
80%      187.500004
90%      250.000005
95%      312.500007
99%      416.666675
max      625.000013
Name: salt_aMWK, dtype: float64
b: Bought
maizemgaiwa
maizerefined
maizemadeya
maizegrain
greenmaize
rice
cassavatubers
wsweetpotatoes
osweetpotatoes
ipotatoes
potatocrisps
bbean
pigeonpea
groundnut
groundnutf
onion
cabbage
tanaposi
leafyvegetables
tomato
eggs
driedfish
fleshfish
goat
chicken
smockedfish
banana
guava
wildfruits
sugar
sugarcane
cookingoil
softdrinks
thobwa
locallybrewed
salt
d: Own-produced
maizemgaiwa
maizerefined
maizemadeya
maizegrain
greenmaize
rice
cassavatubers
wsweetpotatoes
osweetpotatoes
ipotatoes
potatocrisps
bbean
pigeonpea
groundnut
groundnutf
onion
cabbage
tanaposi
leafyvegetables
tomato
eggs
driedfish
fleshfish
goat
chicken
smockedfish
banana
guava
wildfruits
sugar
sugarcane
cookingoil
softdrinks
thobwa
locallybrewed
salt

In [19]:
    
#check total consumption
data['c_food'] = 0
data['c_food_purch'] = 0
data['c_food_ownprod'] = 0

for item in list_items:
    data['c_food'] += data[item+'_aMWK'].replace(np.nan, 0)
    data['c_food_purch'] += data[item+'_bMWK'].replace(np.nan, 0)
    data['c_food_ownprod'] += data[item+'_dMWK'].replace(np.nan, 0)

data[['c_food', 'c_food_purch' , 'c_food_ownprod']] = data[['c_food', 'c_food_purch' , 'c_food_ownprod']].replace(0.0,np.nan)


sumcfood= ((data[['c_food', 'c_food_purch' , 'c_food_ownprod']]*4/euro_MWK).replace(0.0,np.nan)).describe(percentiles)  
print('==== Summary Food Consumption at Month level in Euros =======')
print(sumcfood)

==== Summary Food Consumption at Month level in Euros =======
            c_food  c_food_purch  c_food_ownprod
count   249.000000    243.000000        1.000000
mean    110.644113    136.025487       18.575821
std     255.926043    973.064841             NaN
min       0.088081      0.017563       18.575821
5%        8.594488      3.310027       18.575821
10%      11.992165      5.553903       18.575821
25%      22.497713      9.855698       18.575821
50%      47.461073     19.817735       18.575821
75%      79.618335     43.313416       18.575821
80%      99.334277     53.539787       18.575821
90%     232.605371    177.694581       18.575821
95%     431.305168    377.985223       18.575821
99%    1076.299056   1204.192288       18.575821
max    2430.259408  14900.897860       18.575821

In [20]:
#%%   
# Export dataset
data['hhid'] = data['householdid']

## To rain season
data[['c_food','c_food_purch','c_food_ownprod','total_foodkg', 'purchased_kg','ownproduced_kg']]= data[['c_food','c_food_purch','c_food_ownprod','total_foodkg', 'purchased_kg','ownproduced_kg']]*(4*7)

datacon_short = data[['hhid','c_food','c_food_purch','c_food_ownprod','total_foodkg', 'purchased_kg','ownproduced_kg']]

datacon_short.to_csv('cons_short_19_cvgtokg2.csv', index=False)